body {
    background-color: #f3f6f6;
    font-family: 'Poppins';
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
  .sidebar {
    display: flex;
    position: relative;
  }
  .sidebar .menu {
    position: fixed;
    width: 200px;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.16);
    background: #88abb1;
    font-weight: bold;
  }
  
  .sidebar .menu h2 {
    color: #fff;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 50px;
  }
  
  .sidebar .menu ul li {
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }
  
  .sidebar .menu ul li a {
    color: #fff;
    display: block;
    text-transform: uppercase;
  }
  
  .sidebar .menu ul li a .fas {
    width: 25px;
  }
  
  .sidebar .menu ul li:hover {
    background-color: #d9dbe0;
  }
  
  .sidebar .menu ul li:hover a {
    color: #707070;
  }
  
  .locationcont {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    width: 1150px;
    height: 140px;
    padding-left: 100px;
    margin-left: 240px;
    margin-top: 20px;
    border-radius: 1.5em;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.14);
  }
  
  .loc {
    width: 329px;
    height: 44px;
    color: #707070;
    background: rgba(136, 126, 126, 0.04);
    padding: 20px;
    border-radius: 40px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 30px;
    text-align: left;
    margin-bottom: 20px;
    outline: none;
  }
  
  .btnn {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: #88abb1;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-left: 45px;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin-bottom: 20px;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 65% 45%;
    grid-column-gap: 4em;
  }
  
  .wrapper > div {
    background-color: #ffffff;
    align-items: center;
    width: 390px;
    height: 550px;
    margin-top: 60px;
    border-radius: 1.5em;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.14);
  }
  .wrapper > div:nth-child(odd) {
    background-color: #ffffff;
    width: 720px;
    height: 550px;
    margin-left: 240px;
    margin-top: 60px;
    border-radius: 1.5em;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.14);
  }
  
  .farecont{
    background-color: #F3F6F6;
    display: flex;
    align-items: center;
    width: 640px;
    height: 60px;
    padding-left: 40px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 1.5em;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14);
    }
  